<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wangtianyu.userPlatform.Mapper.DonateProjectPermissionMapper">

    <resultMap id="BaseResultMap" type="org.wangtianyu.userPlatform.Model.DonateProjectPermission">
            <result property="projectId" column="project_id" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="userPermission" column="user_permission" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        project_id,user_id,user_permission
    </sql>
</mapper>
